@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&family=Rubik:wght@300&family=Ubuntu&display=swap');

body {
    background-image: url("../image/bg-img.jpg");
    background-size: cover;
    padding-bottom: 100px;
    margin: 0;
}

a {
    text-decoration: none;
}

/*Header*/
#headings {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-left: 20%;
    width: 60%;
    height: 35px;
}

#header-color {
    background-color: black;
    opacity: 70%;
    width: 100%;
    height: 35px;
    box-shadow: 5px 5px 5px black;
}

#name {
    color: white;
    font-family: "Roboto", sans-serif;
    transition-duration: .2s;
}

#name:hover {
    color: gray;
}

.heading {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    transition-duration: .2s;
}

.heading:hover {
    color: gray;
}

.caret {
    font-size: 6px;
}
/*Header*/

/*Main*/
#info-cont {
    margin-top: 150px;
    margin-left: 100px;
    width: 500px;
    height: 400px;
}

#info {
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

#btn-find {
    margin-left: 100px;
    margin-top: 10px;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
    border: 0;
    transition-duration: .2s;
}

#btn-find:hover {
    background-color: gray;
    padding: 10px;
    margin-top: 5px;
    margin-left: 95px;
}

.other-info {
    display: inline-block;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 2px;
}
/*Main*/

/*Dropdown lists*/
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    color: white;

}

a:hover + div{
    display: block;
}
/*Dropdown lists*/