#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 200px auto;
    width: 600px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

#main div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#main > div > span {
    color: white;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#main > span {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

#main button {
    margin-top: 0;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    border-radius: 7px;
    transition-duration: .2s;
    border: 0;
}

#main button:hover {
    padding: 10px 35px 10px 35px;
    background-color: gray;
    margin-top: -5px;
    margin-bottom: -5px;
}

#main > div > select {
    border-radius: 10px;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
}

#main > div > input {
    border-radius: 10px;
    width: 100px;
    padding: 5px 0 5px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center
}
